/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #FFAB00;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading */
.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

/* Input fields */
.textbox {
    position: relative;
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.textbox input:focus {
    border-color: #0072ff;
}

.textbox i {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #0072ff;
    font-size: 20px;
}

/* Forgot password link */
.forgot-password {
    text-align: right;
}

.forgot-password a {
    color: indigo;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: white;
}

/* Login button */
.btn {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkslategray;
}

/* Signup link */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: darkslategray;
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-link a:hover {
    color: white;
}

/* Responsive Design */
@media (max-width: 480px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }

    .login-box h2 {
        font-size: 20px;
    }
}
